.selected-board {
    background-color: white;
    /* color: white; */
    padding: 10px;
    /* border-radius: 50px; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    

}
.selected-player-list {
    text-align: start;
}