.list-thumbnail img {
    width: 60px;
    border-radius: 100px;
    margin-right: 35px;
}

.list-thumbnail {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 100px;
    position: relative;
    margin: 7px 0;
}

.list-thumbnail h5 {
    margin: 0;
    
}
.remove-btn {
    border: none;
    color: white;
    background-color: red;
    padding: 2px 8px;
    border-radius: 100px;
    position: absolute;
    right: 25px;

}