* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #f7f7f7;
}

.App {
  text-align: center;
}

.playes-container {
  margin: 1% 2%;
 
}

